{project_plugins, [
    {erlfmt, "1.0.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "rebar.config",
        "*.template",

        %% Manual changing of sources is required for those to run successfully
        %% (remove {{name}} and other placeholders). For details, see README.md
        %%
        "library-templates/{include,src,test}/*",
        "service-templates/apps/app/{include,src,test}/*",

        "service-templates/{rebar.config,elvis.config}",
        "library-templates/{rebar.config,elvis.config}"
    ]}
]}.
