%% Embedded protocol (./proto and this plugin) are for
%% demonstrative/prototyping purposes only. Separate protocol repo must be used as per guidelines
%% Examples: https://github.com/search?q=org%valitydev+proto

{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/valitydev/rebar3_thrift_compiler.git", {tag, "0.3.1"}}}
]}.

{thrift_compiler_opts, [
    {gen, "erlang:app_prefix={{name}},scoped_typenames"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {thrift, compile}},
        {clean, {thrift, clean}}
    ]}
]}.
