[
    {{{name}}, [
        {ip, "::"},
        {port, 8080},
        {shutdown_timeout, 61_000},
        {default_woody_handling_timeout, 30_000},
        {protocol_opts, #{
            %% Bump keepalive timeout up to a minute
            request_timeout => 60_000,
            %% Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {health_check, #{
            disk    => {erl_health, disk,      ["/",  99]},
            memory  => {erl_health, cg_memory, [70]},
            service => {erl_health, service,   [<<"{{name}}">>]}
        }},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000,
                    max_printable_string_length => 80
                }
            }
        }},
        {services, #{}}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => error,
                config => #{
                    type => standard_error
                },
                formatter =>
                    {logger_formatter, #{
                        depth => 30
                    }}
            }},
            {handler, console_logger, logger_std_h, #{
                level => debug,
                config => #{
                    type => {file, "/var/log/{app}/console.json"},
                    sync_mode_qlen => 20
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {how_are_you, [
        {metrics_publishers, [
            % {hay_statsd_publisher, #{
            %     key_prefix => <<"{{name}}.">>,
            %     host => "localhost",
            %     port => 8125
            % }}
        ]}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]}
].
